{{> tophead }}

<div
    class="data"
    id="data"
    data-session="{{session.id}}"
    data-username="{{session.username}}"
    data-loggedin="{{loggedIn}}"
></div>

<div id="app"></div>

{{> footer }}
