{{> nHeader }}
{{> tophead }}

<div class="landing_wrapper">
  <div style="z-index:5;" class="right">
    <a class="pri_btn" href="/welcome">About</a>
    <a class="pri_btn" href="/login">Login</a>
    <a class="pri_btn" href="/signup">Signup</a>
  </div>

  <div class="register cua ">
    <div class="display_text">
      <span>Get started again</span>
    </div>
    <form class="form_login">
      <input type="text" name="username" value="" class="l_username" autofocus required spellcheck="false" autocomplete='false'
        placeholder='Username'>
      <input type="password" name="password" value="" class="l_password" required placeholder='Password'>
      <input type="submit" name="" value="Login to continue" class="l_submit">
    </form>
  </div>

</div>

{{> footer }}
