{{> nHeader }}

<div class="landing_wrapper">
    <div style="z-index:5;" class="right">
      <a class="pri_btn" href="/welcome">About</a>
      <a class="pri_btn" href="/login">Login</a>
      <a class="pri_btn" href="/signup">Signup</a>
    </div>

  <div class="register cua ">
    <div class="display_text">
      <span>Try out our secure and private social platform</span>
    </div>
    <form class="form_register">
      <input type="text" name="username" value="" class="r_username" autofocus spellcheck="false" autocomplete='false' placeholder='Username' required>
      <input type="email" name="email" value="" class="r_email" spellcheck="false" autocomplete='false' placeholder='Email' required>
      <input type="password" name="password" value="" class="r_password" placeholder='Password' required>
      <input type="password" name="password_again" value="" class="r_password_again" placeholder='Confirm password' required>
      <input type="submit" name="" value="Signup for free" class="r_submit">
    </form>
  </div>

</div>

{{> footer }}
