{{> tophead }}
{{> nHeader }}

<div class="landing_wrapper">
    <div style="z-index:5;" class="right">
        <a class="pri_btn" href="/welcome">About</a>
        <a class="pri_btn" href="/login">Login</a>
        <a class="pri_btn" href="/signup">Signup</a>
    </div>
    <div class="welcome_div">
        <p id="tagline">Be <span class = "bold">social</span>, but stay in <span class="bold">control</span>.</p>
    </div>
</div>

{{> footer }}
