{{> tophead }}
{{> nHeader }}

<div class="landing_wrapper">
    <div id="tagline_wrapper">
        <p id="tagline">Be <span class = "bold">social</span>, but stay in <span class="bold">control</span>.</p>
        </br>
        <p id="subtag">A social network designed to guarantee that you stay in control of what you share, and what others can see about you.</p>
        </br>
        </br>
        <a href="/login"><div class="tagline_button">Login</div></a>
        <a href="/signup"><div class="tagline_button">Signup</div></a>
    </div>

    <div id="main_points_wrapper">

        <p><img src="images/delete.png"/>Easily keep track of and delete any content you’ve shared.</p>

        <p><img src="images/network.png"/>Stay in touch with your friends just like you’re used to.</p>
        <p><img src="images/lock.png"/>Your data is encrypted, kept private, and we never share it.</p>
    </div>

</div>

{{> footer }}
