@import 'variables';
@import 'mixins';
@import 'defaults';
@import 'input';
@import 'modal';

.notes_wrapper{
  margin-top: 70px;
}

.index_header{
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  top: 0px;

  & .right{
    float: right;
    position: relative;
    right: 70px;
    top: 21px;

    & a{
      border: 1px solid $ee;
      outline: none;
      padding: 4px 16px;
      border-radius: 3px;
      font-size: 14px;
      margin-right: 5px;
      color: #3d464d;
      background: $ff;

      & a[href='help']{ margin-right: 0px; }

      & .index_header > .right > a[href="about"]{ margin-right: 5px; }

      &:hover{ background: $second_border; }

      &:focus{ background: $second_border; }

    }

  }

}

.header_loggedin{
  background: $ff;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  height: 45px;
  background: white;
  z-index: 2;
  top: 0px;

  & a{
    font-size: 14px;
    color: $dark;
    margin-left: 7px;
    padding: 5px 12px;
    border-radius: 3px;
    display: inline-block;

    &:hover{ background: $second_border; }

    &:focus{ background: $second_border; }

  }

  & .left{
    display: inline-block;
    position: relative;
    top: 8px;
    left: 25px;
  }

  & .right {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 3%;
  }

}

.display_text {
  text-align: center;
	margin-bottom: 30px;

	& > span{
		font-size: 23px;
		color: #0b867a;
	}

}

.log_sign{
  position: absolute;
  right: 50px;
  top: 88px;

	& > a{
		padding: 5px 18px;
		border-radius: 4px;
		font-size: 14px;
	}

}

// for active links
.ha_active{ background: $second_border; }

// REGISTER PAGE

.cua{
  width: 300px;
  @include center;

  & form > *{
    display: block;
    margin-bottom: 10px;
    width: 92%;
    padding: 8px 10px;
    font-size: 14px;
  }

  & input[type='submit']{
      width: 99%;
  }

}

// REGISTERED PAGE
.registered{
  position: absolute;
  background: $ff;
  padding: 20px;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,.1);
}

// PROFILE PAGE
.aligner{
	position: relative;
	width: 614px;
	left: 367px;

	.user_banner{
		text-align: center;
		position: relative;
		background: white;
		padding: 15px;
		border: 1px solid $header_border;
		border-radius: 4px;

		.user_buttons{
			position: absolute;
			right: 15px;
			top: 15px;

			&>a{
				padding: 5px 15px;
				font-size: 14px;
				display: inline-block;
				margin-right: 5px;

			}

		}

		& .profile_img_div{
			margin-top: 10px;
			& img{
				border-radius: 50%;
				height: 150px;
				width: 150px;
			}
		}

		& .user_info{
			margin-top: 10px;

			& a.user_main_link{
				font-weight: 600;
				color: $dark;
				display: block;
				font-size: 16px;
			}

			& .user_no_notes{
				color: $d_light;
				font-size: 13px;
			}

			& .user_bio{
				text-align: center;
				font-size: 14px;
				margin-top: 7px;
      }

      & .no_bio{
        font-style: italic;
        color: $d_light;
      }

			& hr{
				margin: 25px 0px 10px 0px;
				border-top: 1px solid #f5eded;
			}

			& .user_stats{
				text-align: center;

				&>div, &>a{
					display: inline-block;
					padding: 7px 40px;
					text-align: center;
					position: relative;
					cursor: pointer;
					border-radius: 3px;
					color: inherit;

					&:hover{
						background: $second_border;
					}

					& .stat_hg{
						display: block;
						font-size: 15px;
						font-weight: 600;
					}

				}

				& .stat_disabled{
					cursor: text !important;
					&:hover{ background: $ff; }
				}

			}

		}

	}

	.filter_notes{
		position: relative;
		margin-top: 15px;

		& > input[type="text"]{
			font-size: 14px;
			padding: 8px;
			width: 97%;
		}

	}

	.notes{
		margin-top: 15px;
		margin-bottom: 50px;
	}

}

// FOR POST
.note{
  background: $ff;
  padding: 10px;
  display: block;
  font-size: 14px;
  border: 1px solid $header_border;
  border-radius: 3px;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover{
    border-color: $ee;
  }

  & .note_header{
    margin-bottom: 7px;

    & img{
      height: 31px;
      width: 31px;
      border-radius: 50%;
      display: inline-block;
    }

    & .note_h_left{
      display: inline-block;
      margin-left: 5px;
      width: 90%;

      & .note_username{
        display: block;
        color: $dark;
        font-weight: 600;
        position: relative;
        top: 2px;
      }

      & .note_time{
        font-size: 13px;
        color: $d_light;
        position: relative;
        top: -1px;
      }

    }

  }

  & .note_title, & .note_content{
    color: $dark;
  }

  & .note_title{
    margin-bottom: 4px;
    font-weight: 600;
  }

}

.create_note{
  width: 380px;

  & input[type='text'], & textarea{
      padding: 7px !important;
      width: 94%;
      font-size: 14px;
  }

  & input[type="text"]{
    margin-bottom: 9px;
  }

  & textarea{
    height: 250px;
  }

  & .c_n_bottom{
    margin-top: 1px;

    & input[type='submit']{
      margin-left: 5px;
      padding: 5px 10px;
      margin-right: 6px;
      font-size: 14px;
    }
  }

}

// WELCOME AND ERROR PAGE
.welcome_div{
  @include center;
  & img{
    height: 300px;
  }
}

.error_div{
  width: 436px;

  .error_info{
    margin-bottom: 10px;
    width: 100%;
    & span{
      font-size: 20px;
    }
  }

  .error_bottom {
    text-align: right;
    margin-top: 3px;

    & a{
      display: inline-block;
      padding: 4px 15px;
      font-weight: 600;
      font-size: 14px;

      &:last-of-type{
        margin-left: 5px;
      }

    }

  }


}

// VIEW POST
.view_note{
  width: 600px;

  & .v_n_middle{

    & .v_n_info{
      margin-bottom: 5px;

      & img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-block;
      }

      & .v_n_left{
        display: inline-block;
        margin-left: 5px;
        position: relative;
        top: -5px;

        & .v_n_username{
          display: block;
          font-weight: 600;
          font-size: 15px;
          color: inherit;

          &:hover, &:focus{ text-decoration: underline; }

        }

        & .v_n_time{
          font-size: 13px;
          color: $d_light;
          position: relative;
          top: -2px;
        }

      }

    }

    & .v_n_title{
      font-weight: 600;
      display: block;
      margin-bottom: 3px;
      font-size: 15px;
      outline: none;
    }

    & .v_n_content{
      display: block;
      outline: none;
    }

    & .v_n_title[contenteditable='true'],
    & .v_n_content[contenteditable='true']{
      border: 1px solid #54BBFF;
      padding: 5px 5px !important;
      border-radius: 2px;
    }

  }

  & .v_n_bottom {
    // margin-top: 1px;

    a{ margin-left: 5px; }

    & .v_n_cancel{ margin-right: 5px; }

    & .v_n_int{
      position: absolute;
      color: $d_light;
      bottom: 10px;
      left: 10px;
      display: flex;

      span.like_unlike{
        display: inline-block;
        height: 24px;
        cursor: pointer;
        transition: all .1s ease-in-out;

        &:hover{
          color: $dark;
          transform: scale(1.1);
        }

      }

      & .like_unlike_disabled{
        cursor: not-allowed !important;
        pointer-events: none !important;
        color: #d8c3c3 !important;
      }

    }

  }

}

// EDIT
.edit{
  position: relative;
  width: 400px;
  left: 490px;
  font-size: 14px;

  & > *{
    display: block;
    width: 100%;
    margin-top: 15px;
  }

  & .eb_btns{
    text-align: right;

    & a{
      display: inline-block;
      margin-right: 23px;
      padding: 5px 20px;
    }

    & form{
      display: inline-block;
      & .avatar_span{
        display: inline-block;
        padding: 5px 10px 6px 10px;
        margin-right: 7px;
      }
    }

  }

  & .edit_span{
    color: $d_light;
    display: block;
    position: relative;
    font-size: 14px;
    margin-bottom: 5px;
  }

  & .edit_info{

    & img{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      position: relative;
      display: inline-block;
    }

    & span {
      position: relative;
      top: -12px;
      left: 8px;
      font-size: 18px;
      font-weight: 600;
    }

  }

  & .e_joined{
    text-align: right;
    width: 94%;
  }

  & input[type='text'],
  & input[type='email'],
  textarea{
    width: 90%;
    padding: 8px;
    font-size: 14px;
  }

  & textarea{
    height: 100px;
  }

  & .resend_vl_div{
    text-align: right;

    & .resend_vl{
      display: inline-block;
      padding: 5px 15px;
      margin-right: 21px;
    }

  }

}

.edit_profile {
  top: 30px;
}

// HOME
.home{
  position: relative;
  width: 607px;
  margin-left: 365px;
  margin-bottom: 60px;

  & .home_info{
    margin-bottom: 10px;
    background: $ff;
    padding: 14px 10px;
    border: 1px solid $header_border;
    border-radius: 3px;
    font-size: 15px;

    & a{
      position: absolute;
      right: 10px;
      padding: 4px 12px;
      top: 10px;
    }

  }

}

// PAGE END
.page_end{
  padding: 10px;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  color: $d_light;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid $fb;

  &:hover{ border: 1px solid $ee; }

}

// EXPLORE PAGE
.explore{

  & .explores{
    display: inline-block;
    width: 615px;
    margin-left: 365px;

    & div.explores_list{
      position: relative;
      background: $ff;
      // width: 100%;
      padding: 10px;
      border-radius: 3px;
      border: 1px solid $header_border;
      margin-bottom: 10px;

      &:hover{ border-color: $ee; }

      & .exl_main{

        & img{
          width: 45px;
          height: 45px;
          border-radius: 50%;
        }

        & .exl_content{
          display: inline-block;
          position: relative;
          top: -8px;
          margin-left: 7px;

          & a.exl_username{
            color: $dark;
            font-size: 14px;
            font-weight: 600;
          }

          & div.exl_desc{
            color: $d_light;

            & span.exl_desc_sep{
              margin-left: 5px;
              margin-right: 5px;
            }

          }

        }

      }

      & .exl_ff{
        position: absolute;
        right: 15px;
        top: 25px;

        & a{
          padding: 5px 20px;
          font-size: 14px;
        }

      }

    }

  }

}

// PROMPT MODAL
.prompt{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: $ff;
  width: 400px;
  border-radius: 3px;
  @include modal-shadow;

  & .prompt-top{
    padding: 10px 10px;
    background: $third-border;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid $ee;

    & .prompt-title{
      font-size: 15px;
      font-weight: 600;
    }

    & span:last-of-type{
      display: inline-block;
      position: absolute;
      right: 7px;
      top: 7px;
      padding: 2px;
      color: $d_light;
      height: 20px;
      cursor: pointer;
      border: 1px solid $third-border;
      border-radius: 3px;

      &:hover{
        color: #1b2733;
        border: 1px solid #e2dbdb;
      }

      & i{
        font-size: 20px;
        position: relative;
        left: 1px;
      }

    }

  }

  & .prompt-middle{
    padding: 4px 10px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;

    & span{
      display: inline-block;
      position: relative;
    }

  }

  & .prompt-bottom{
    padding: 8px 10px 8px 10px;
    border-top: 1px solid $ee;
    text-align: right;

    & a{
      display: inline-block;
      padding: 4px 12px;
      font-weight: 600;

      &:last-of-type{
        margin-left: 5px;
      }

    }

  }

}

// NOTHING COMPONENT
.home_last_mssg{
  position: relative;
  border-radius: 4px;
  background:$ff;
  border: 1px solid $header_border;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  cursor: default;

  & img{
    position: relative;
    text-align: center;
    width: 150px;
    /*margin-bottom: 10px;*/
    display: block;
    left: 48%;
    transform: translate(-50%);
  }

  & span{
    position: relative;
    text-align: center;
    display: block;
    left: -5px;
    /*top: -5px;*/
  }

}

// GOTO COMPONENT
.goto{
  position: absolute;
  right: 7px;
  top: 6px;
  height: 28px;

  & .goto_link{

    & .goto_label{
      position: relative;
      top: -7px;
      right: 2px;
      font-weight: 600;
    }

    & span.show_more{
      display: inline-block;
      height: 24px;
      border: 1px solid $header;
      border-radius: 2px;
      cursor: pointer;
      color: $d_light;
      transition: all .1s ease-in-out;

      &:focus{ color: $dark; }

    }

  }

  & .goto_options{
    right: -2px;
    top: 35px;

    &::before{
      content: "";
      background: white;
      width: 11px;
      height: 11px;
      top: -6px;
      position: absolute;
      border-top: 1px solid #DCDFE1;
      transform: rotate(45deg);
      border-left: 1px solid #DCDFE1;
      right: 9px;
      z-index: -1;
    }

  }

}

// DEACTIVATE
.deactivate{
  width: 500px;

  & .deactivate_title{
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
  }

  & .deactivate_btn{
    display: block;
    margin-top: 11px;
    text-align: right;

    & a{
      display: inline-block;
      padding: 4px 10px;
    }

  }

}
